* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.center-list {
    margin: 0 auto;
    max-width: 1000px;
}

.div-style {
    background-color: #B22222;
}
